.circles {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.loader-child {
    background-color: #00f;
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 50%;
}

.circle {
    padding: 20px 20px;
    border-radius: 50%;
    opacity: 0.7;
}

.circle-one {
    background-color: #f00;
}

.circle-two {
    background-color: #00f;
    margin-left: 20px;
}

.circle-three {
    background-color: #0f0;
    margin-left: 20px;
}

.circle-four {
    background-color: #ff0;
    margin-left: 20px;
}

.box {
    padding: 40px 30px;
    border-radius: 10%;
    background: purple;
    width: 100px;
}